<body style="background-color:#e0e0e8;font-size:clamp(12px, 0.78vw, 18px)">
<div style="width:min(100vw, 900px);margin:0 auto;overflow:hidden;">
	<p style="text-align:left">
		Dear <!-- NAME -->;
	</p>
	<p>
		Thank you for your submission to the NODE Project.
		Unfortunately, your suggestion was not accepted because <!-- REASON -->.
		We are grateful that you took the time to contribute to our project and if you would like to
		resubmit a correction you can follow the same proccess you took to make the original submission.
	</p>
	<p>
		Thank you for your interest and contribution,
	</p>
	<p style="text-align:center">
		The NODE Project
	</p>
	<small>
		If you would like to stop receiving these emails, you can update your preferences
		<a href="https://nodeproject.com/aboutme">here</a>
	</small>
</div>
</body>
