#errorBox{
	width: calc(100% - 2rem);
	background-color: #f5d5d0;
	border-radius: 3px;
	min-height: 30vh;
	margin-top: 1rem;
	padding: 1rem;
}
#errorTitle,#errorMessage{
	text-align: center;
}
#errorTitle{
	font-size: 1.7rem;
	margin-bottom: 1rem;
}
#errorMessage{
	font-size: 1.3rem;
}
