#mainColumn {
    text-align: center;
    font-weight: bold;
}

.mainColumnText {
    font-size: 1.3rem;
    line-height: 2.1rem;
    text-decoration: none;
}

a.mainColumnText:hover {
    text-decoration: underline;
}

#downloadForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
    font-size: 1.3rem;
}

.selectLabel {
    text-align: right;
}

.formSelect {
    width: max-content;
    min-width: 50%;
    font-size: inherit;
}

#submitButton {
    font-size: inherit;
    font-weight: bold;
    grid-column: 1/3;
    margin: 0 auto;
}
