#searchBarDescription{
  margin: 0;
  position: relative;
  top: 3rem;
  font-size: 2rem;
  text-align: center;
}

#descriptionText{
  font-size: 1.1rem;
  line-height: 1.9rem;
  font-family: sans-serif;
}
#descriptionText>p:first-child{
  font-size: 1.6rem;
  line-height: 2.0rem;
}
#descriptionText>p{
  text-align: center;
}
