html{
  font-size: calc(10.5px + 0.29vw);
}

body{
  min-height: 100%;
  min-width: 100%;
  max-width: 100vw;
  background-color: #f5f5f5;
  margin: 0;
}

#app{
  width: 100vw;
  margin: 0 auto 2rem auto;
}

#titleAndHeaderBar{
  font-size: 1.7rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  height: max-content;
  padding-bottom: 3px; /* To prevent trimming letter tails */
  border-bottom: 1px solid black;
}
#titleBar, #headerBar{
  display: flex;
  flex-wrap: nowrap;
  font-size: 100%;
}
#titleBar{
  font-size: 1.9rem;
  flex-direction: row;
  width: 100%;
}
#headerBar{
  flex-direction: column;
}
#menuButton{
  margin-left: 1rem;
  font-size: inherit;
  padding: 0 0.8rem;
  border-color: gray;
  font-weight: bold;
}
#title, .headerLink, .headerDropdown{
  color: #3a3a3a;
  text-decoration: none;
  font-weight: bold;
  transform: scaleY(1.2);
  margin: auto 1rem;
}
#title:hover, .headerLink:hover{
  text-decoration: underline;
}
.headerDropdownTitle{
  color: #606058;
  margin: 0.45rem 0 0 0.1rem;;
}
.headerDropdownTitle::after{
  content: ":";
}
.headerDropdownOptions{
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  transform: scaleY(0.83) translateY(-10%);
  margin: 0;
}

/* Main Column */
#mainColumn{
  width: 97%;
  margin: 0 auto;
  height: max-content;
  font-family: sans-serif;
}

/* Search Bar */
#searchBarWrapper{
  margin: 6rem auto 6rem auto;
  width: 96%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e8e8e8;
  border: 2px solid #888888;
  border-radius: 3rem;
  overflow: hidden;
}
#searchIcon, #searchBar{
  margin: 1rem;
}
#searchButton{
  border: none;
  background: rgba(0,0,0,0);
  padding: 0 0.4rem;
}
#searchIcon{
  height: 4rem;
  width: 4rem;
  color: #888888;
}
#searchBar{
  color: #3a3a3a;
  height: 3.5rem;
  border: none;
  font-size: 1.7rem;
  background-color: inherit;
}

/* Submission popup */
#submissionPopupWrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.3);
  backdrop-filter: blur(6px);
}
#submissionPopupBody{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 90%;
	max-width: calc(100% - 10px);
  background-color: #f5f5f5;
  border-radius: 0.3rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submissionPopupRow{
  width: 95%;
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	align-items: center;
	font-size: 1.3rem;
}
#submissionPopupTitle{
  font-size: 1.6rem;
}
#submissionPopupSelectWrapper{
	overflow: visible;
}
#submissionPopupSelect{
  width: max-content;
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: 6px;
	overflow: hidden;
}
#submissionPopupInput,#submissionPopupReference{
  width: 90%;
  flex-shrink: 1;
	margin-left: 6px;
}

/* General classes */
button{
  border: 1px solid lightgray;
  padding: 0.3rem 1.3rem;
  border-radius: 0.2rem;
  background: linear-gradient(to bottom, #f6f5f4, #edebe9);
  cursor: pointer;
}
button:hover,button:active{
  background: #f6f5f4;
}
.hidden{
	display: none !important;
}
.flexGrow {
  flex-grow: 1 !important;
}
.pageHeader{
  font-size: 1.9rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

/* Styling for desktop site */
@media (min-width: 700px){
  #app{
    width: 85vw;
  }
  #titleAndHeaderBar{
    flex-direction: row;
  }
  #titleBar{
    width: max-content;
  }
  #headerBar{
    flex-direction: row;
  }
  #mainColumn{
    width: 60%;
  }
  .headerDropdown{
    overflow: visible;
  }
  .headerDropdownTitle{
    margin: 0;
    color: inherit;
    cursor: default;
    text-decoration: none;
  }
  .headerDropdownTitle::after{
    content: "";
  }
  .headerDropdownOptions{
    position: absolute;
    display: none;
    box-sizing: border-box;
    border: 1px solid black;
    transform: scaleY(0.83) translateY(-10%);
  }
  .headerDropdownOptions>.headerLink{
    margin: 0.8rem 0.3rem;
  }
  .headerDropdown:hover>.headerDropdownOptions{
    display: flex;
    flex-direction: column;
  }
  .desktopHidden{
    display: none !important;
  }
	#submissionPopupBody{
    min-width: 30%;
	}
}
/* mobileHidden class */
@media (max-width: 699px){
  .mobileHidden{
    display: none !important;
  }
}
