#mapContent {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}
#mapsPhoto{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

#locationResults{
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}
.levelWrapper{
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.levelHeader{
  margin: 0 0 0 1rem;
  font-size: 1.6rem;
}
.headerSpacer{
  flex-grow: 1;
  flex-shrink: 1;
}
.headerCollapseButton{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: max-content;
  background: rgba(0,0,0,0);
  border: none;
  padding: 0;
  border-radius: 0;
}
.headerCollapseButton.collapsed{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}
.headerCollapseButton:not(.collapsed) .collapsedImage{
  display: none;
}
.headerCollapseButton.collapsed .expandedImage{
  display: none;
}
.expandedImage,.collapsedImage{
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.4rem;
}
.expandedImage>polygon,.collapseImage>polygon{
  fill: black;
  width: 100%;
  height: 100%;
}
.levelResults{
  font-size: 1.3rem;
  list-style: none;
  margin: 0;
}
.levelResults.collapsed{
  height: 0;
  visibility: hidden;
}
.levelResults.collapsed .resultItem{
  margin-bottom: 0;
}
.resultItem{
  margin-bottom: 1rem; 
}
.noDataMessage{
  color: #606070;
}
.submissionButton{
  display: block;
  font-size: 1.3rem;
  margin: 0 auto;
}
