#officeholderInfo{
  width: max-content;
  max-width: 95%;
  margin: 0 auto;
  text-align: right;
}
.infoHeader,.officeHeader{
  font-size: 1.6rem;
  text-align: right;
}
.infoDiv{
  font-size: 1.3rem;
  text-align: right;
}
.reportButtonWrapper{
  margin: 0.5rem auto;
  text-align: center;
}
.reportButton{
  font-size: 1rem;
  /*float: right;*/
}

#mapContent {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}

#mapsPhoto{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
}
