#mainColumn {
    text-align: center;
    font-weight: bold;
}

#sectionHeader {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 1.9rem;
}

#signUpForm {
    width: 100%;
}

.formInputRow {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    color: #3a3a3a;
    margin: 1rem 0;
    width: 100%;
}

.formLabel {
    white-space: nowrap;
}

.formInput {
    background-color: inherit;
    border: solid #888888;
    border-width: 0 0 1px 0;
    padding: 0;
    font-size: inherit;
    flex-grow: 1;
    flex-shrink: 1;
}
